@use "../../node_modules/sass-pire/src/sass-pire.scss" as *;

$base-font-size: 15;

@include generate-colors(
    "",
    (
        "bright-orange": hsl(31, 77%, 52%),
        "dark-cyan": hsl(184, 100%, 22%),
        "very-dark-cyan": hsl(179, 100%, 13%),
        "transparent-white": hsla(0, 0%, 100%, 0.75),
        "very-light-gray": hsl(0, 0%, 95%)
    )
);

@font-face {
    font-display: swap;
    font-family: "Lexend Deca", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/fontslexend-deca-v21-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Lexend Deca", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/fontslexend-deca-v21-latin-700.woff2") format("woff2");
}

body {
    font-family: "Lexend Deca", sans-serif;
}
